#bookDisplay {
    background-color: pink;
    height: fit-content;
    margin-bottom: 50px;
}

form {
    display: flex;
    width: 160px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

checkbox-container {
    display: flex;
    justify-content: flex-start;
}
